<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content color="dark">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Todas as informações são obrigatórias</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Manter Logado</ion-label>
        <ion-checkbox checked="false"> </ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button>Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button >Registro</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
      </ion-card-content>
      

    </ion-card>

  </ion-content>

