<ion-header>
  <ion-toolbar color="tertiary"> 
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Todas as informações são obrigatórias</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CPF</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-label>Data de nascimento</ion-label>
          </ion-row>
          <ion-row>
            <ion-datetime  displayFormat="DD/MMM/YYYY"></ion-datetime>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-label>Gênero</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="f">Feminino</ion-select-option>
          <ion-select-option value="m">Masculino</ion-select-option>
        </ion-select>
      </ion-item>
  
        <ion-item>
          <ion-label position="floating">Celular</ion-label>
          <ion-input></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input></ion-input>
        </ion-item>

       
          <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Confirmar senha</ion-label>
            <ion-input></ion-input>
          </ion-item>
      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button routerLink="/home">Voltar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button >Salvar</ion-button>
          </ion-col>
        </ion-row>
     </ion-grid>

    </ion-card-content>
    
  </ion-card>
</ion-content>
