<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
     
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem Vindo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Gostaria de aproveitar nossas ofertas? É fácil e simples: entre em sua conta ou cadastre-se!
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button routerLink="/login" >Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button routerLink="/cadastro" >Cadastro</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  
</ion-content>
